<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div style="background-color: red" th:include="~{common_student::headerStudent}">-->

<!--</div>-->
<p th:text="${msg}"></p>
<a th:href="@{/create}">Create Student</a>
<form action="/search" method="get">
    <input type="text" name="nameSearch" placeholder="Input name">
    <button type="submit">Search</button>
</form>
<table width="700px" border="1">
    <tr>
        <th>No</th>
        <th>Code Student</th>
        <th>Name Student</th>
        <th>Point Student</th>
        <th>Gender Student</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product,loop : ${listProduct}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.manufacturer}"></td>
<!--        <td>-->
<!--            <p th:if="${student.gender == 0}">FeMale</p>-->
<!--            <p th:if="${student.gender == 1}">Male</p>-->
<!--            <p th:if="${student.gender != 1 && student.gender !=0}">Other</p>-->
<!--        </td>-->
        <td><a th:href="@{/detail/{id}(id=${product.getId()})}">Detail</a> </td>
        <td><a th:href="@{/delete/{id}(id=${product.getId()})}">Delete</a> </td>
    </tr>
</table>
<!--<div th:replace="~{common_student::footerStudent}">-->

<!--</div>-->
</body>
</html>